@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #06b6d4;
  --color-primary-dark: #0e7490;
  --color-secondary: #f0f9ff;
  --color-accent: #f97316;
}
